/* 
    Document   : print-page
    Created on : 24-Dec-2010, 11:06:51
    Author     : ms609
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

body {
  font-family: 'Arial narrow', Tahoma, Verdana, Arial, Helvetica, 'Bitstream Vera Sans', sans-serif;
  margin-left: 1em;
}

.words {
  padding-left: 2.5em;
  margin-top: -1.2em;
}

.ccli {
  float: right;
  font-size:x-small;
}

h2 {
  clear: both;
  border-top: solid 2px;
}

h1, h2 {
  color: #111;
}

h1 {
  font-size: large;
  page-break-after: avoid;
  -webkit-column-break-after: avoid;
}

header, .screenOnly {
  display: none;
}

.page.no-chords {
  page-break-inside: avoid;
}

.show-chords.page + .page {
  page-break-before: always;
}

/* doesn't work in floated elements,
     or if parent elements have overflow property set.
                          
when testing printing with css page-break be sure that any div container that the content is displayed in are set to 

display:block !important;
float:none !important;
  */
  
.no-chords, .no-chords .words {
  font-family: "Goudy Old Style", "Georgia", Times, 'Times New Roman', Serif;
}