/* 
    Document   : print
    Created on : 24-Dec-2010, 10:42:59
    Author     : ms609
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.indent {padding-left: 3.3em !important;}
.bold     {font-weight: bold;}
.italic {font-style: italic;}
.green {padding-left:4.5em;}
.blue    {padding-left:1.5em;}
.yellow{padding-left:3em;}
.white  {padding-left:3em;}
.printonly {display:block;}


.leftcol, .rightcol {width: 48%; overflow: hidden;}
.leftcol {float: left;}
.rightcol {float: right;}

.leftcol span, .rightcol span, .nocol span {
  display: block;
  line-height: 1.15em;
  margin-bottom: 0.05em;
}

h1 {
  clear: both;
  margin-bottom: 0;
}

h2, .ccli {
  font-size:x-small;
  font-weight: normal;
  text-align:right;
  width:100%;
  margin: 0;
}

.chords {
  font-weight: bold;
}

.words {
  font-family: "Arial narrow";
}

.verse {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.subtitle {font-size:smaller;}

input {
  width:2.5em;
}

/* If chords aren't displayed, optimise for printing words */


.no-chords .chords, .no-chords transpose {
  display: none;
}

/* I'm leaving this section here in case Chrome ever supports columns properly
.columns {
  -webkit-columns: 48% 2;
  -webkit-column-count: 2;
  -moz-columns: 48% 2;
  columns: 48% 2;
}
.no-chords .leftcol, .no-chords .rightcol {
  float: none;
  width: fill-available;
}
*/
